{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <title>Small demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Django" />
    <meta property="og:site_name" content="Clark" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    {% block css %}{% endblock %}
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="app-blank bgi-size-cover bgi-position-center bgi-no-repeat">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-lg-row flex-column-fluid">
        {% include 'authentication/_partial/_aside.html' %}
        {% block body %}{% endblock %}
    </div>
    <!--end::Authentication - Sign-in-->
</div>
<!--end::Root-->
<!--end::Main-->
{% block js %}{% endblock %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
</body>
<!--end::Body-->
</html>