<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head><base href="../../"/>
	<title>Small demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Django" />
    <meta property="og:site_name" content="Clark" />
	{% block css %}{% endblock %}
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
<!--begin::Theme mode setup on page load-->
<script>
	let defaultThemeMode = "light";
	let themeMode;
	if ( document.documentElement ) {
		if ( document.documentElement.hasAttribute("data-theme-mode")) {
			themeMode = document.documentElement.getAttribute("data-theme-mode");
		} else {
			if ( localStorage.getItem("data-theme") !== null ) {
				themeMode = localStorage.getItem("data-theme");
			} else {
				themeMode = defaultThemeMode;
			}
		} if (themeMode === "system") {
			themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
		}
		document.documentElement.setAttribute("data-theme", themeMode);
	}
</script>
<!--end::Theme mode setup on page load-->
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
	<!--begin::Page-->
	<div class="page d-flex flex-row flex-column-fluid">
		<!--begin::Wrapper-->
		<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
			{% include '_partial/_header.html' %}
			{% block body %}{% endblock %}
			{% include '_partial/_footer.html' %}
		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::Page-->
</div>
<!--end::Root-->
{% include 'projectmanagement/_partial/_utils.html' %}
{% block js %}{% endblock %}
</body>
<!--end::Body-->
</html>